#
#  Copyright (c) 2025 Health Dataspace Demo - EHR2EDC
#
#  This program and the accompanying materials are made available under the
#  terms of the Apache License, Version 2.0 which is available at
#  https://www.apache.org/licenses/LICENSE-2.0
#
#  SPDX-License-Identifier: Apache-2.0
#

---
apiVersion: v1
kind: Service
metadata:
  name: ehr-backend
  namespace: health-dataspace
spec:
  type: NodePort
  selector:
    app: ehr-backend
  ports:
    - name: http
      protocol: TCP
      port: 3001
      targetPort: 3001
      nodePort: 30001

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ehr-backend
  namespace: health-dataspace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ehr-backend
  template:
    metadata:
      labels:
        app: ehr-backend
    spec:
      containers:
        - name: backend
          image: health-ehr-backend:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 3001
              name: http
          env:
            - name: PORT
              value: "3001"
            - name: OTEL_SERVICE_NAME
              value: "ehr-backend"
            - name: OTEL_TRACES_EXPORTER
              value: "none"
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: "service.namespace=health-dataspace,service.version=1.0.0,deployment.environment=k8s"
          readinessProbe:
            httpGet:
              path: /health
              port: 3001
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
          livenessProbe:
            httpGet:
              path: /health
              port: 3001
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5