#
#  Copyright (c) 2025 Health Dataspace Demo - EHR2EDC
#
#  This program and the accompanying materials are made available under the
#  terms of the Apache License, Version 2.0 which is available at
#  https://www.apache.org/licenses/LICENSE-2.0
#
#  SPDX-License-Identifier: Apache-2.0
#

---
apiVersion: v1
kind: Service
metadata:
  name: healthdcatap-editor
  namespace: health-dataspace
spec:
  type: NodePort
  selector:
    app: healthdcatap-editor
  ports:
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30880

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: healthdcatap-editor
  namespace: health-dataspace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: healthdcatap-editor
  template:
    metadata:
      labels:
        app: healthdcatap-editor
    spec:
      containers:
        - name: editor
          image: isaitb/shacl-validator:latest
          ports:
            - containerPort: 8080
              name: http
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 10