#
#  Copyright (c) 2025 Health Dataspace Demo - EHR2EDC
#
#  This program and the accompanying materials are made available under the
#  terms of the Apache License, Version 2.0 which is available at
#  https://www.apache.org/licenses/LICENSE-2.0
#
#  SPDX-License-Identifier: Apache-2.0
#

---
apiVersion: v1
kind: Service
metadata:
  name: health-vault
  namespace: health-dataspace
spec:
  type: NodePort
  selector:
    app: health-vault
  ports:
    - name: http
      protocol: TCP
      port: 8200
      targetPort: 8200
      nodePort: 30200

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: health-vault
  namespace: health-dataspace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: health-vault
  template:
    metadata:
      labels:
        app: health-vault
    spec:
      containers:
        - name: vault
          image: hashicorp/vault:latest
          env:
            - name: VAULT_DEV_ROOT_TOKEN_ID
              value: "root"
            - name: VAULT_DEV_LISTEN_ADDRESS
              value: "0.0.0.0:8200"
          ports:
            - containerPort: 8200
              name: http
          securityContext:
            capabilities:
              add:
                - IPC_LOCK
          readinessProbe:
            httpGet:
              path: /v1/sys/health
              port: 8200
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /v1/sys/health
              port: 8200
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
